{% load static%}
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/masonry.pkgd.min.js'%}"></script>
<script src="{% static 'js/imagesloaded.js'%}"></script>
<script src="{% static 'js/classie.js'%}"></script>
<script src="{% static 'js/AnimOnScroll.js'%}"></script>
<script src="{% static 'js/img_piaofu.js'%}"></script>
<script src="{% static 'js/jquery.pjax.js'%}"></script>
<script type="text/javascript">
	$(document).pjax('.pjax', 'body');
</script>