{%load static%}
<link rel="stylesheet" href="{% static 'css/login/htmleaf-demo.css'%}">
<link rel="stylesheet" href="{% static 'css/login/reset.css'%}">
<link rel="stylesheet" href="{% static 'css/login/skippr.css'%}">
<link rel="stylesheet" href="{% static 'css/login/style.css'%}">
<style>
*{color: #fff}
.flp {width: 400px; margin: 0 auto;}
.flp div{position: relative;margin-bottom: 50px;}
.flp input, .flp label {width: 100%; font-size: inherit; display: block;}
.flp input { border: 0 none; border-bottom: 3px solid #fff; outline: none; color: #fff;background: rbga(0,0,0,0);}
.flp label { position: absolute; top: 0; left: 0; cursor: text; color: #fff;}
.ch {display: block; float: left; position: relative;font-weight:normal;color:#fff;}
.focussed {pointer-events: none;}
.htmleaf-header{font-size: 18px;}
.related{font-size: 18px;}
.htmleaf-container{font-size: 18px;}
</style>
<body>
	<div class="hero">
			<div id="random">
	             	<div class="custom_1"></div>
	                <div class="custom_2"></div> 
	                <!-- <div class="custom_3" style="background-image: url(../static/images/login/bg_3.jpg); background-position:bottom;"></div> -->
	                <div class="custom_3"></div>
	                <div class="custom_4"></div>                   
	                <div class="custom_5"></div>
	          </div>
            <div class="container">
                <div class="tagline">
            		<h1>b2-luntan</h1>
            		<small>让我们像家人那样坐下来聊聊技术吧</small><hr>
					<div class="htmleaf-container">
						<div class="htmleaf-content">
		                	<form action="" method="post" class="flp" autocomplete="off">
		                		<div class="form-group">
		                			<input type="text" id="account" name="account" style="background-color:transparent;outline: none;">
		                			<label for="account">账号:</label>
		                		</div>
		                		<div class="form-group">
		                			<input type="text" id="password" name="password" style="background-color:transparent;outline: none;">
		                			<label for="password">密码:</label>
		                		</div>
		                	</form>
		                </div>
		            </div>
                </div>
            </div>
      </div>
<script>
// 判断是否是 pjax 进来的，还是用户输入url 进来的
 try {
	if (typeof(PJAX_ZPC_JS) == "undefined") {
		document.cookie = "url="+window.location.pathname;
		window.location.href="/";
	}	
} catch(e) {
	document.cookie = "url="+window.location.pathname;
	window.location.href="/";
}
console.log(document.cookie);
$(document).on('pjax:end', function() {
    $('.custom_1').css({
    	'background-image':'url(../static/images/login/bg_1.jpg)',
    	'filter' : 'blur(9px)'
    });
	$('.custom_2').css({
		'background-image':'url(../static/images/login/bg_2.jpg)',
		'filter' : 'blur(9px)',
	});
	$('.custom_3').css({
		'background-image':'url(../static/images/login/bg_3.jpg)',
		'filter' : 'blur(9px)',
	});
	$('.custom_4').css({
		'background-image':'url(../static/images/login/bg_4.jpg)',
		'filter' : 'blur(9px)',
	});
	$('.custom_5').css({
		'background-image':'url(../static/images/login/bg_5.jpg)',
		'filter' : 'blur(9px)',
	});
    $(".flp label").each(function(){
			$(this).html("<span class='ch'>" + $(this).html().split("").join("</span><span class='ch'>") + "</span>");
			$(".ch:contains(' ')").html("&nbsp;");
		})
		var d;
		$(".flp input").focus(function(){
			$(this).next().addClass("focussed").children().stop(true).each(function(i){
				d = i*50;
				$(this).delay(d).animate({fontSize: "16px", top: "-20px" , color:'#fff'}, 50 , 'swing' , function () {
					$(this).css('color', '#fff');
				});
			})
		});
		$(".flp input").blur(function(){
			if($(this).val() == "")
			{
				$(this).next().removeClass("focussed").children().stop(true).each(function(i){
					d = i*50;
					$(this).delay(d).animate({fontSize: "18px", top: 0 , color : '#fff'}, 50 , 'swing' , function () {
						$(this).css('color' , '#fff');
					});
				})
			}
		});
	setTimeout(function(){
	    $("#random").skippr({
	        autoPlay : true,
	        autoPlayDuration : 3000,
	        easing:'easeInOutCubic',
	        logs : true
	    });
	    $('#password').attr('type','password');
	},300);
});
</script>
</body>
