{%load static%}
{% include 'load/head.html' %}
<link rel="stylesheet" href="{% static 'css/login/htmleaf-demo.css'%}">
<link rel="stylesheet" href="{% static 'css/login/reset.css'%}">
<link rel="stylesheet" href="{% static 'css/login/skippr.css'%}">
<link rel="stylesheet" href="{% static 'css/login/style.css'%}">
<body>
	<div class="hero">
			<div id="random">
	             	<div class="custom_1" style="background-image: url(../static/images/login/bg_1.jpg)">
	                </div>
	                <div style="background-image: url(../static/images/login/bg_2.jpg)"></div> 
	                <div style="background-image: url(../static/images/login/bg_3.jpg); background-position:bottom;"></div>
	                <div style="background-image: url(../static/images/login/bg_4.jpg)"></div>                   
	                <div style="background-image: url(../static/images/login/bg_5.jpg)"></div>
	          </div>
            <div class="container">
                <div class="tagline">
                    <h1>登陆</h1>
                    <p>这里是登陆页面</p>
                </div>
            </div>
      </div>
	
	{% include 'load/js.html' %}
	<script src="{%static 'js/login/skippr.min.js'%}"></script>
	<script>
            $(document).ready(function() {
                $("#random").skippr({
                    autoPlay : true,
                    autoPlayDuration : 3000,
                    easing:'easeInOutCubic',
                    logs : true
                });
            });

        </script>
</body>
